<div ng-controller = "assosciationsController">

  <h3>Hey, You can assign a player to a team here!!!</h3>
  <br>
  <form>

  <select class="select" ng-model="newAssosc.player">
    <option ng-repeat = "player in players">{{player.pname}}</option>
  </select>
  <select class="select" ng-model="newAssosc.team">
    <option ng-repeat="team in teams">{{team.tname}}</option>
  </select>
  <input type="submit"value="Assign player to team" ng-click="addAssosc()">
</form>
<br>
<table class="table">
  <thead>
  <tr class="success">
      <th>Player Name</th>
      <th>Team Name</th>
      <th>Actions</th>
    </tr>
    </thead>
  <tr class="info" ng-repeat="assos in assosciations">
    <td>{{assos.player}}</td>
    <td>{{assos.team}}</td>
    <td><form>
      <input type="submit" value="Delete Assosciation" ng-click="removeAssosc($index)">

    </form></td>
  </tr>

</table>
</div>
