<div ng-controller = "view1Controller">
  <h3>You can add players here</h3>
  <form name ='playerForm'>
    Name:<input type="text"ng-model="newPlayer.pname"name="name"ng-minlength='4'required>
      <input type="submit"value="Add player" ng-click="savePlayer()">
  </form>
  <div ng-messages="playerForm.name.$error">
     <p ng-message="minlength">The player name is too short.</p>
     <p ng-message="required">The player name is required.</p>
 </div>

  <table class="table">
    <thead>
      <tr class="warning">
        <th>Name</th>
        <th>Actions</th>

      </tr>
      <tr class="info" ng-repeat="player in players">
        <td>{{player.pname}}</td>
        <td><form>
          <input type="submit"value="Delete user" ng-click="removePlayers($index)">
        </form></td>
      </tr>
    </thead>

  </table>

</div>
