<div ng-controller = "view1Controller">
  <h3>You can add players here</h3>
  <form>
    Name:<input type="text"ng-model="newPlayer.pname">
      <input type="submit"value="Add player" ng-click="savePlayer()">
  </form>

  <table class="table">
    <thead>
      <tr class="warning">
        <th>Name</th>
        <th>Actions</th>

      </tr>
      <tr class="info" ng-repeat="player in players">
        <td>{{player.pname}}</td>
        <td><form>
          <input type="submit"value="Delete user" ng-click="removePlayers($index)">
        </form></td>
      </tr>
    </thead>

  </table>

</div>
