<div ng-controller = "userController">
  <table>
    <tr>
      <th>Name: </th>
      <th>Show</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr ng-repeat = "user in users">
      <td>{{user.fname}} {{user.lname}}</td>


      <td><a href="#!/show/{{user._id}}">Show</a> </td>
      <td><a href="#!/edit/{{user._id}}">Edit</a> </td>
      <td><a href="#!/delete/{{user._id}}">Delete</a> </td>
    </tr>
  </table>
  <a href="#!/new">Add a New user</a>

<div >
  <h3>showone</h3>



</div>

</div>
