<div ng-controller= "logController">
  <h1>Hi  <span style="color:orangered"> {{cookies.name}} </span>, Welcome to full MEAN Wall</h1>
  <hr>
    <form>
      <input type="submit"value="logout" ng-click = "logout()">
    </form>

    <div ng-controller = "postController">
    <form  ng-submit = "addPost(cookies)">
      <p>Post a Message:</p>
      <textarea rows="8" cols="80" ng-model = "newpost.message" required></textarea>

      <input type="submit" value="Post a Message">

    </form>



      <div ng-repeat = "post in posts">
            <hr>
            <p><span style="background-color:red">{{post.user.name}}</span> posted:</p>
            <h3><span style="color:blue">{{post.msg}}</span></h3> at {{post.createdAt | date:'medium'}}
            <form  ng-controller = "commentController" ng-submit = "addComment(cookies,post._id)">
              <div ng-repeat = "x in post.comments">
              <p><span style="color:brown">{{x.cuser.name}}</span> commented at {{x.createdAt | date:'medium'}}</p>
              <h4><span style="color:green">{{x.comment}}</span></h4>
              </div>


              <textarea rows="3" cols="40" ng-model ="newcomment.comment" required></textarea>
              <input type="submit"value="Comment">
            </form>

      </div>

    </div>

</div>
